/* styles.css */

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centralizar conteúdo */
}

h2 {
    margin-bottom: 20px;
    color: #333333; /* Cor do título */
}

.input-group {
    margin-bottom: 20px;
    text-align: left; /* Alinhar texto à esquerda */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Cor do texto */
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
